body {
  background: #f3f4f6;
  margin: 0;
  font-family: "Helvetica", Arial, sans-serif;
}

.container {
  max-width: 450px;
  margin: auto;
  background: white;
  padding: 25px;
  margin-top: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.title {
  text-align: center;
  margin-bottom: 20px;
  color: #111827;
  font-size: 20px;
  font-weight: 600;
}

.label {
  display: block;
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 5px;
  color: #4b5563;
}

.input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  outline: none;
  margin-bottom: 5px;
}

.input:focus {
  border-color: #2563eb;
  box-shadow: 0 0 0 2px rgba(37, 99, 235, 0.3);
}

.input[readonly] {
  background-color: #f3f4f6;
  cursor: not-allowed;
}

/* Toggle IN/OUT */
.toggle-container {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.toggle-btn {
  flex: 1;
  padding: 12px;
  font-size: 15px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  background: #e5e7eb;
  cursor: pointer;
}

.toggle-btn.active {
  background: #2563eb;
  color: white;
}

/* Caja de Foto */
.photo-box {
  width: 100%;
  height: 130px;
  border: 2px dashed #9ca3af;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.camera-icon {
  font-size: 40px;
  opacity: 0.4;
}

#foto {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

/* Guardar */
.save-btn {
  width: 100%;
  margin-top: 25px;
  padding: 12px;
  font-size: 17px;
  font-weight: bold;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.save-btn:hover {
  background: #1d4ed8;
}
